{% extends 'base.html' %}
{% block content %}
<head>
  <link rel='stylesheet'
        type='text/css'
        href='{{ url_for('static', filename='css/lobby.css') }}'>
</head>
<body>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col'>
        <form id='find_game_form' class='basic-form pt-2 pb-2 px-1 rounded mx-auto'>
          <div id="minutes_info"></div>
          <input id="slider_minutes" class="slider" type="range" min="0"
                 value="0" max="7" step="1">
          <button id='find_game_btn' class='btn mt-2'>
            Find game!
          </button>
          <button id='stop_search_btn' class='btn mt-2' style="display: none">
            Stop search
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}

{% block extra_scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'
        integrity='sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo='
        crossorigin='anonymous'></script>
<script src='{{ url_for('static', filename='js/lobby.js') }}'></script>
{% endblock %}
