{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet"
        href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
        integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
        crossorigin="anonymous">
  <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/play.css') }}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="left_column" class="flex-column
                                   p-0 center-block
                                   col-11 order-second
                                   col-sm-12 col-md-12
                                   col-lg-4 order-lg-first
                                   col-xl-4 order-xl-first">
        <div id="up_container" class="rounded">
          <form id="search_game_form" class="pt-2 pb-2 px-1">
            <select class="form-control" id="game_time">
              <option value="1">1 minute</option>
              <option value="3">3 minutes</option>
              <option value="5">5 minutes</option>
              <option value="10">10 minutes</option>
            </select>
            <button type="submit" id="find_game_btn" class="btn mt-2 w-100">
              Find game
            </button>
          </form>
          <div id="game_state_buttons" class="pt-2 pb-2 px-1 d-none">
            <button id="draw_btn" class="btn w-100">Offer a draw</button>
            <button id="resign_btn" class="btn mt-2 w-100">Resign</button>
         </div>
        </div>
        <div id="bottom_container" class="rounded pb-2">
          <div id="messages_box" class="m-2"></div>
          <div id="message_input_box" class="mt-auto px-1">
            <form id="message_form">
              <input id="message_input" class="form-control" type="text"
                     placeholder="type a message" maxlength="70" readonly>
            </form>
          </div>
        </div>
      </div>
      <div id="right_column" class="flex-column center-block
                                    col-11 order-first
                                    col-sm-12 order-sm-first
                                    col-md-12 order-md-first
                                    col-lg-8 col-xl-8 mb-3">
        <div class="row p-0 mx-0 mb-1 player-info">
          <div id="opp_nickname" class="flex-column flex-shrink-1 my-auto">
            Opponent
          </div>
          <div id="opp_rating" class="flex-column flex-grow-1 my-auto pl-1"></div>
          <div id="opp_clock" class="flex-column flex-shrink-1 clock float-right">
            <span class="min">00</span>:<span class="sec">00</span>
          </div>
        </div>
        <div id="main_board" class="w-100"></div>
        <div class="row p-0 mx-0 mt-1 player-info">
          <div id="own_nickname" class="flex-column flex-shrink-1 my-auto"></div>
          <div id="own_rating" class="flex-column flex-grow-1 my-auto pl-1"></div>
          <div id="own_clock" class="flex-column flex-shrink-1 clock float-right">
            <span class="min">00</span>:<span class="sec">00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <audio id='game_started_sound'>
    <source src="{{ url_for('static', filename='sounds/game_started.mp3') }}">
  </audio>
  <audio id='move_sound'>
    <source src="{{ url_for('static', filename='sounds/move.mp3') }}">
  </audio>
  <audio id='game_ended_sound'>
    <source src="{{ url_for('static', filename='sounds/game_ended.mp3') }}">
  </audio>
  <audio id='draw_offer_sound'>
    <source src="{{ url_for('static', filename='sounds/draw_offer.mp3') }}">
  </audio>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
          integrity="sha256-eqQw3yuTEYSQQIUa3vMMTeSfbIzv24BkWkJi8flcRF8="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
          integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/hashlib/chessboardjs@1.0.1/lib/chessboard.js"
          integrity="sha256-4hR3F4qMeo54tZMQUYjE1dYgLgY3NGRbdyQ/6gxPisg="
          crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/play.js') }}"></script>
</body>
{% endblock %}
