{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet"
        href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
        integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
        crossorigin="anonymous">
  <link rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/play.css') }}">
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="left_column" class="flex-column mb-3 col-11 order-second col-sm-12 col-md-12 col-lg-4 order-lg-first col-xl-4 order-xl-first center-block">
        <div class="flex-column flex-grow-1 p-1 pb-2 rounded" style="background-color: #444b52;">
          <div id="messages_box" class="m-2" style="overflow-y: auto; color: white; word-wrap: break-word"></div>
          <div id="message_input_box" class="mt-auto">
            <form onsubmit="sendMessage(); return false;">
              <input id="message_input" class="form-control" type="text" placeholder="type a message" maxlength="70" readonly></input>
            </form>
          </div>
        </div>
        <button id="find_game_btn" class="btn mt-1 w-100" style="background-color: #444b52; color: white; font-weight:bold" onclick="searchGame()">
          Find game
        </button>
      </div>
      <div id="right_column" class="flex-column col-11 order-first col-sm-12 order-sm-first col-md-12 order-md-first col-lg-8 col-xl-8 center-block">
        <div class="col p-0 mb-1" style="font-weight: bolder; color: white;">
          <a id="opp_nickname">Opponent</a>
          <a class="pl-1" id="opp_rating"></a>
        </div>
        <div id="main_board" class="w-100"></div>
        <div class="col p-0 mt-2 mb-3" style="font-weight: bolder; color: white;">
          <a id="own_nickname"></a>
          <a class="pl-1" id="own_rating"></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
          integrity="sha256-eqQw3yuTEYSQQIUa3vMMTeSfbIzv24BkWkJi8flcRF8="
          crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
          integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
          crossorigin="anonymous"></script> -->
  <script src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
          integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
          crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/play.js') }}"></script>
</body>
{% endblock %}
