{% extends "base.html" %}

{% block content %}
<body>
  <form class="basic-form" action="" method="post">
    <h1 align='center'>Register</h1>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    {{ form.login.label }}<br>
    {{ form.login(class="form-control") }}<br>

    {% if form.login.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.login.errors[0] }}
    </div>
    {% endif %}

    {{ form.password.label }}<br>
    {{ form.password(class="form-control",
    type="password") }}<br>

    {% if form.password.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.password.errors[0] }}
    </div>
    {% endif %}

    {{ form.confirm_password.label }}<br>
    {{ form.confirm_password(class="form-control",
    type="password") }}<br>

    {% if form.confirm_password.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.confirm_password.errors[0] }}
    </div>
    {% endif %}

    <div class="text-center">
      {{ form.submit(type="submit",
      class="btn w-100",
      style="background-color: #5b636e;
      color: white;") }}
    </div>
  </form>
</body>
{% endblock %}

