{% extends 'base.html' %}

{% block content %}
<head>
  <link rel='stylesheet'
        href='https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css'
        integrity='sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU'
        crossorigin='anonymous'>
  <link rel='stylesheet'
        type='text/css'
        href='{{ url_for('static', filename='css/game.css') }}'>
</head>
<body class='d-flex flex-row justify-content-center align-items-center'>
  <div id='board' class='fluid-container'></div>
  <div id='right_container' class='rounded ml-2'>
    <div id='info_a' class='player-info'></div>
    <div id='moves_list' class='container'></div>
    <div id='info_b' class='player-info'></div>
  </div>
<body>
{% endblock %}

{% block extra_scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js'
        integrity='sha256-eqQw3yuTEYSQQIUa3vMMTeSfbIzv24BkWkJi8flcRF8='
        crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/gh/hashlib/chessboardjs@1.0.3/lib/chessboard.js'
        integrity='sha256-ELb20mWb4zB+aE0+0GyqWwZGKndC3QYl155hOJe/hVk='
        crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/howler@2.1.3/dist/howler.min.js'
        integrity='sha256-/Q4ZPy6sMbk627wHxuaWSIXS1y7D2KnMhsm/+od7ptE='
        crossorigin='anonymous'></script>
<script src='{{ url_for('static', filename='js/game_static.js') }}'></script>
{% endblock %}
