{% extends 'base.html' %}
{% block content %}
<head>
    <link rel='stylesheet'
          type='text/css'
          href='{{ url_for('static', filename='css/lobby.css') }}'>
</head>
<body>
  <div class="container">
    <div class='columns is-centered'>
      <div class='column is-narrow'>
        <div class="box" style="width: 520px;">
          <h1 class="title">Find new game</h1>
          <div class='container has-text-centered'>
            <div class="columns is-centered">
              <div class="column is-narrow">
                <button class="button time-button is-light">1 minute</button>
                <button class="button time-button is-light">2 minutes</button>
                <button class="button time-button is-light">3 minutes</button>
              </div>
            </div>
            <div class="columns is-centered">
              <div class="column is-narrow">
                <button class="button time-button is-light">5 minutes</button>
                <button class="button time-button is-light">10 minutes</button>
                <button class="button time-button is-light">15 minutes</button>
              </div>
            </div>
            <div class="columns is-centered">
              <div class="column is-narrow">
                <button class="button time-button is-light">30 minutes</button>
                <button class="button time-button is-light">1 hour</button>
                <button class="button time-button is-light">2 hours</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

{% block extra_scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'
        integrity='sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo='
        crossorigin='anonymous'></script>
<script src='{{ url_for('static', filename='js/lobby.js') }}'></script>
{% endblock %}
