{% extends "base.html" %}

{% block content %}
{% set error_shown = False %}
<body>
  <div class="container">
    <div class="columns is-centered pt-1">
      <div class="column is-one-third">
        <div class="box">
          <h1 class="title">Settings</h1>
          <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}

						<div class="field">
							<div class="file has-name is-fullwidth">
								<label class="file-label">
									{{ form.image(class="file-input", type="file") }}
									<span class="file-cta">
										<span class="file-label">
											{{ form.image.label }}
										</span>
									</span>
									<span class="file-name"></span>
								</label>
							</div>
							{% if form.image.errors and not error_shown %}
								<p class="help is-danger">{{ form.image.errors[0] }}</p>
								{% set error_shown = True %}
							{% endif %}
						</div>
            <div class="field">
              <div class="control">
                {{ form.submit(
                    class="button is-link is-fullwidth",
                    type="submit"
                   )
                }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<!--
<form class="basic-form mt-2" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  <div class="form-group">
    {{ form.image.label }}<br>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" name="image" class="custom-file-input" id="image">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>

    {% if form.image.errors %}
    <div class="m-0 p-0 mb-2 error-message">
      {{ form.image.errors[0] }}
    </div>
    {% endif %}
  </div>
  {{ form.submit(type="submit", class="btn w-100 submit-button") }}

  {% if message %}
    <div class="alert alert-success mt-2 mb-1" role="alert">
      {{ message }}
    </div>
  {% endif %}

</form>
!-->

{% endblock %}

{% block extra_scripts %}
<script>
  $(".file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".file-name").html(fileName);
  });
</script>
{% endblock %}
