{% extends "base.html" %}

{% block content %}
{% set any_error = False %}
<body>
  <div class="container">
    <div class="columns is-centered pt-1">
      <div class="column is-one-third">
        <div class="box" action="" method="post">
          <h1 class="title">
            Sign up
          </h1>
          <form action="" method="post">
            {{ form.csrf_token }}
            <div class="field">
              <label class="label">{{ form.login.label }}</label>
              <div class="control">
                {{ form.login(class="input") }}
              </div>
              {% if form.login.errors %}
                <p class="help is-danger">{{ form.login.errors[0] }}</p>
                {% set any_error = True %}
              {% endif %}
            </div>
            <div class="field">
              <label class="label">{{ form.password.label }}</label>
              <div class="control">
                {{ form.password(class="input", type="password") }}
                {% if form.password.errors and not any_error %}
                  <p class="help is-danger">{{ form.password.errors[0] }}</p>
                  {% set any_error = True %}
                {% endif %}
              </div>
            </div>
            <div class="field">
              <label class="label"> {{ form.confirm_password.label }}</label>
              <div class="control">
                {{ form.confirm_password(class="input", type="password") }}
                {% if form.confirm_password.errors and not any_error %}
                  <p class="help is-danger">{{ form.confirm_password.errors[0] }}</p>
                  {% set any_error = True %}
                {% endif %}
              </div>
            </div>
            <div class="field has-text-centered">
              <div class="control">
                {{ form.submit(class="button is-link", type="submit") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

