{% extends "base.html" %}

{% block content %}
{% set error_shown = False %}
<body>
  <div class="container">
    <div class="columns is-centered pt-1">
      <div class="column is-one-third">
        <div class="box">
          <h1 class="title">Log in</h1>
          <form action="" method="post">
            {{ form.csrf_token }}
            <div class="field">
              <label class="label">{{ form.login.label }}</label>
              <div class="control">
                {{ form.login(class="input", placeholder="Your nickname here") }}
              </div>
              {% if form.login.errors and not error_shown %}
                <p class="help is-danger">{{ form.login.errors[0] }}</p>
                {% set error_shown = True %}
              {% endif %}
            </div>
            <div class="field">
              <label class="label">{{ form.password.label }}</label>
              <div class="control">
                {{ form.password(
                    class="input",
                    type="password",
                    placeholder="Your password here"
                   )
                }}
                {% if form.password.errors and not error_shown %}
                  <p class="help is-danger">{{ form.password.errors[0] }}</p>
                  {% set error_shown = True %}
                {% endif %}
                {% if message %}
                  <p class="help is-danger">{{ message }}</p>
                {% endif %}
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                {{ form.remember_me(
                    type="checkbox",
                    style="vertical-align: middle"
                   )
                }}
                <span style="vertical-align: middle">
                  {{ form.remember_me.label }}
                </span>
              </label>
            </div>
            <div class="field">
              <div class="control">
                {{ form.submit(
                    class="button is-link is-fullwidth",
                    type="submit"
                   )
                }}
              </div>
            </div>
         </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
