{% extends 'base.html' %}

{% block content %}
<head>
  <link rel='stylesheet'
        type='text/css'
        href='{{ url_for('static', filename='css/user_profile.css') }}'>
</head>
<body>
  <div class="container pt-3 pb-3">
    <div class="d-flex flex-column flex-lg-row mx-auto">
      <div class="col-4">
        <img class="profile_img" src="{{ url_for('static', filename='img/profiles/' + avatar_hash + '.jpg') }}"></img>
      </div>
      <div class="col-8 my-auto">
        <p class="nickname my-0">{{ nickname }}</p>
        <p class="rating my-0">Current rating: <a class="rating-value">{{ rating }}</a></h2>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div id='games_history' style="display: none">
        <h1 class='text-light'>Latest games</h1>
        <div id='select_buttons_container'>
          <button id='first_page_select'>First</button>
          <button id='prev_page_select'><</button>
          <span id='cur_page_container' class='text-light font-weight-bold'></span>
          <button id='next_page_select'>></button>
          <button id='last_page_select'>Last</button>
        </div>
        <table class='table table-light'>
          <thead>
            <tr>
              <th scope='col'>White player</th>
              <th scope='col'>Black player</th>
              <th scope='col'>Result</th>
            </tr>
          </thead>
          <tbody id='games_container'>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</body>

{% endblock %}

{% block extra_scripts %}
<script>
;(function() {
  const gamesOnPage = 10
  var gamesPlayed
  var totalPages
  var curPage = 1
  var $buttonsContainer = $('#select_buttons_container')
  var $firstPageSelect = $('#first_page_select')
  var $prevPageSelect = $('#prev_page_select')
  var $nextPageSelect = $('#next_page_select')
  var $lastPageSelect = $('#last_page_select')
  var $curPageContainer = $('#cur_page_container')
  var $gamesContainer = $('#games_container')


  function initGamesHistory(data) {
    gamesPlayed = data['games_played']
    totalPages = Math.ceil(gamesPlayed / gamesOnPage)

    if (gamesPlayed === 0) {
      return
    }

    $('#games_history').show()
    $firstPageSelect.attr('page-select', 1)
    $firstPageSelect.prop('disabled', true)

    $prevPageSelect.attr('page-select', 0)
    $prevPageSelect.prop('disabled', true)

    $nextPageSelect.attr('page-select', 2)
    $nextPageSelect.prop('disabled', curPage === totalPages)

    $lastPageSelect.attr('page-select', totalPages)
    $lastPageSelect.prop('disabled', totalPages === 1)

    $curPageContainer.html('1')
  }


  $('body').on('click', 'button[page-select]', function() {
    curPage = parseInt(this.getAttribute('page-select'))

    $firstPageSelect.prop('disabled', curPage === 1)

    $prevPageSelect.attr('page-select', curPage - 1)
    $prevPageSelect.prop('disabled', curPage === 1)

    $nextPageSelect.attr('page-select', curPage + 1)
    $nextPageSelect.prop('disabled', curPage === totalPages)

    $lastPageSelect.prop('disabled', curPage === totalPages)

    $curPageContainer.html(curPage)

    $.get(
      "/api/v1.x/games_list",
      {
        nickname: "{{ nickname }}",
        size: gamesOnPage,
        start_from: (curPage - 1) * gamesOnPage
      },
      setGames,
    )

  })


  function setGames(data) {
    $gamesContainer.html('')

    data['games'].forEach(function(item) {
      $gamesContainer.
        append(`<tr data-href='/game/${item.id}' style="cursor: pointer">
                <td><a href='/user/${item.white_player}'>${item.white_player}</a></td>
                <td><a href='/user/${item.black_player}'>${item.black_player}</a></td>
                <td>${item.result}</td>
              </tr>`
        )
    })
  }

  $.get(
    "/api/v1.x/games_played",
    {
      nickname: "{{ nickname }}"
    },
    initGamesHistory
  )

  $.get(
    "/api/v1.x/games_list",
    {
      nickname: "{{ nickname }}",
      size: gamesOnPage
    },
    setGames,
  )

  $('body').on('click', 'tr[data-href]', function() {
    document.location = $(this).data('href');
	});
})()
</script>
{% endblock %}
