{% extends 'base.html' %}

{% block content %}
<body>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="container">
            <div class="columns">
              <div class="column is-narrow">
                <figure class="image is-256x256">
                  <img src="{{ url_for('static', filename='img/profiles/' + avatar_hash + '.jpg') }}"></img>
                </figure>
              </div>
              <div class="column">
                <div class="is-pulled-left">
                  <h1 class="title is-1">{{ nickname }}</h1>
                  <h2 class="subtitle is-4">Rating: {{ rating }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id='games_history' class="box is-hidden">
				 	<h1 class="title is-3">Latest games</h1>
					<nav class="pagination" role="navigation" aria-label="pagination">
						<ul class="pagination-list"></ul>
					</nav>
				</div>
      </div>
    </div>
  </div>
  <!--
  <div class="container pt-3 pb-3">
    <div class="d-flex flex-column">
      <div id='games_history' style="display: none">
        <h1 class='text-light'>Latest games</h1>
        <div id='select_buttons_container'>
          <button id='first_page_select'>First</button>
          <button id='prev_page_select'><</button>
          <span id='cur_page_container' class='text-light font-weight-bold'></span>
          <button id='next_page_select'>></button>
          <button id='last_page_select'>Last</button>
        </div>
        <table class='table table-light'>
          <thead>
            <tr>
              <th scope='col'>White player</th>
              <th scope='col'>Black player</th>
              <th scope='col'>Result</th>
            </tr>
          </thead>
          <tbody id='games_container'>
          </tbody>
        </table>
        </div>
    </div>
  </div>
  !-->
</body>

{% endblock %}

{% block extra_scripts %}
<script>
;(function() {
  const gamesOnPage = 10
  const paginationSize = 5
  var gamesPlayed
  var totalPages
  var curPage = 1

	$paginationList = $('.pagination-list')

  function initGamesHistory(data) {
    gamesPlayed = data['games_played']
    totalPages = Math.ceil(gamesPlayed / gamesOnPage)

    if (gamesPlayed === 0) {
      return
    }

		for (let i = 1; i <= Math.min(paginationSize, totalPages); ++i) {
			if (i == 1) {
				$paginationList.append(
					`<li><a class="pagination-link is-current" page-indx=${i} aria-label="Page ${i}">${i}</a></li>`
				)
			} else {
				$paginationList.append(
					`<li><a class="pagination-link" page-indx=${i} aria-label="Page ${i}">${i}</a></li>`
				)
			}
		}

    $('#games_history').removeClass("is-hidden")
  }


  $('body').on('click', '.pagination-link[page-indx]', function() {
    curPage = parseInt(this.getAttribute('page-indx'))

		$paginationList.html('')

    var toSide = Math.floor(paginationSize / 2)

    var firstPage
    var lastPage

    if (curPage - toSide >= 1 && curPage + toSide <= totalPages) {
      firstPage = curPage - toSide
      lastPage = Math.min(totalPages, curPage + toSide)
    } else if (curPage - toSide < 1) {
      firstPage = 1
      lastPage = Math.min(paginationSize, totalPages)
    } else if (curPage + toSide > totalPages) {
      lastPage = totalPages
      firstPage = Math.max(1, totalPages - paginationSize + 1)
    } else {
      firstPage = 1
      lastPage = totalPages
    }

    for (let i = firstPage; i <= lastPage; ++i) {
			if (i == curPage) {
				$paginationList.append(
					`<li><a class="pagination-link is-current" page-indx=${i} aria-label="Page ${i}">${i}</a></li>`
				)
			} else {
				$paginationList.append(
					`<li><a class="pagination-link" page-indx=${i} aria-label="Page ${i}">${i}</a></li>`
				)
			}
		}

		$.get(
      "/api/v1.x/games_list",
      {
        nickname: "{{ nickname }}",
        size: gamesOnPage,
        start_from: (curPage - 1) * gamesOnPage
      },
      setGames,
    )

  })


  function setGames(data) {
    $gamesContainer.html('')

    data['games'].forEach(function(item) {
      $gamesContainer.
        append(`<tr data-href='/game/${item.id}' style="cursor: pointer">
                <td><a href='/user/${item.white_player}'>${item.white_player}</a></td>
                <td><a href='/user/${item.black_player}'>${item.black_player}</a></td>
                <td>${item.result}</td>
              </tr>`
        )
    })
  }

  $.get(
    "/api/v1.x/games_played",
    {
      nickname: "{{ nickname }}"
    },
    initGamesHistory
  )

  $.get(
    "/api/v1.x/games_list",
    {
      nickname: "{{ nickname }}",
      size: gamesOnPage
    },
    setGames,
  )

  $('body').on('click', 'tr[data-href]', function() {
    document.location = $(this).data('href');
	});
})()
</script>
{% endblock %}
