.profile_img {
  width: 300px;
  height: 300px;
}

.nickname {
  font-size: 60px;
  line-height: 90px;
  color: #615ddd;
}

.rating {
  font-size: 35px;
  line-height: 30px;
  color: #615ddd;
}

.rating-value {
  font-size: 37px;
}
